/build

.DS_Store
*.log
*.sock*
*.pyo
*.pyc
*.crash
*.so
*.o
*.a
* copy.*
._*
*.7z
build_config.mk
*.patch
*.diff

*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspective*
*.xcodeproj/*.mode1*
*/*.xcodeproj/*.pbxuser
*/*.xcodeproj/*.perspective*
*/*.xcodeproj/*.mode1*
*/*/*.xcodeproj/*.pbxuser
*/*/*.xcodeproj/*.perspective*
*/*/*.xcodeproj/*.mode1*

*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace
*/*.xcodeproj/xcuserdata
*/*.xcodeproj/project.xcworkspace
*/*/*.xcodeproj/xcuserdata
*/*/*.xcodeproj/project.xcworkspace

deps/cef/
