/build

*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspective*
*.xcodeproj/*.mode1*
*/*.xcodeproj/*.pbxuser
*/*.xcodeproj/*.perspective*
*/*.xcodeproj/*.mode1*
*/*/*.xcodeproj/*.pbxuser
*/*/*.xcodeproj/*.perspective*
*/*/*.xcodeproj/*.mode1*

*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace
*/*.xcodeproj/xcuserdata
*/*.xcodeproj/project.xcworkspace
*/*/*.xcodeproj/xcuserdata
*/*/*.xcodeproj/project.xcworkspace
