PRODUCT_NAME = Messenger Helper

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../../../../Frameworks

INFOPLIST_FILE = src/helper/Info.plist

SYMROOT = $(SRCROOT)/build

// Build a potentially fat image for standard archs. Probably just x86_64.
ARCHS = $(ARCHS_STANDARD)

LIBRARY_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/deps/cef/build/libcef_dll_wrapper
HEADER_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/deps/cef
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/deps/cef/build
